

/* reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 2px;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}


